<template>
  <div id="contact">
    <md-table v-once>
      <md-table-header>
        <md-table-row>
          <md-table-head>ID</md-table-head>
          <md-table-head md-numeric>Nome</md-table-head>
          <md-table-head md-numeric>Telefone</md-table-head>
          <md-table-head md-numeric>Email</md-table-head>
          <md-table-head md-numeric>Tipo de Contato</md-table-head>
          <md-table-head md-numeric>Prioridade</md-table-head>
        </md-table-row>
      </md-table-header>

      <md-table-body>
        <md-table-row v-for="contact in contacts">
          <md-table-cell>{{contact.id}}</md-table-cell>
          <md-table-cell>{{contact.name}}</md-table-cell>
          <md-table-cell>{{contact.phone}}</md-table-cell>
          <md-table-cell>{{contact.email}}</md-table-cell>
          <md-table-cell>{{contact.contact_type}}</md-table-cell>
          <md-table-cell>{{contact.priority}}</md-table-cell>
        </md-table-row>
      </md-table-body>
    </md-table>
  </div>
</template>

<script>
import axios from 'axios'
export default {

  name: 'Contact',
  data: () => ({
    contacts: [],
    errors: []
  }),
  created () {
    axios.get(`http://127.0.0.1:8000/contact/`)
    .then(response => {
      // JSON responses are automatically parsed.
      this.contacts = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  }
}
</script>

<style>
#contact {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
